/* Reset default browser spacing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS variables for reusable colors */
:root {
    --body-Background: #f4f4f9;
    --btn-Primary: #5cabff;
    --border-Color: #ddd;
    --btn-secondary: #efc727;
    --btn-active: #4a90e2;
    --btn-edit: #ffd700;
    --btn-completed: #32cd32;
    --btn-delet: #ff6347;
}

body {
    background-color: var(--body-Background);
}

/* Main app container */
.container {
    background-color: white;
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Todo input field */
#todoInput {
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid var(--border-Color);
    border-radius: 5px;
}

/* Add todo button */
#addTodo {
    background-color: var(--btn-Primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid var(--border-Color);
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: aliceblue;
}

/* Filter Buttons  ||  Shared button styling */
.filterBtn,
.editBtn,
.deleteBtn,
.completeBtn {
    padding: 8px 6px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--btn-secondary);
    transition: background-color 0.3s;
    cursor: pointer;
}

.editBtn {
    background-color: var(--btn-edit);
}

.deleteBtn {
    background-color: var(--btn-delet);
}

.completeBtn {
    background-color: var(--btn-completed);
}

.filterBtn:hover {
    background-color: var(--btn-active);
    color: var(--border-Color);
}

.todoItem {
    letter-spacing: 1px;
}

.fileterbtn .filterBtn {
    padding: 15px;
}

.todoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
}